# PyCity Schools Analysis

- Your analysis here

---

In [23]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635

## District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = school_data['school_name'].nunique()

In [6]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [12]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()
print(total_budget)

82932329558

In [13]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [14]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [16]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [18]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print (passing_reading_percentage)

85.80546336482001

In [20]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [39]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'AVG Math Score': [average_math_score],
    'AVG Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Passing Overall': [overall_passing_rate]
})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary['AVG Math Score'] = district_summary['AVG Math Score'].map("{:.2f}%".format)
district_summary['AVG Reading Score'] = district_summary['AVG Reading Score'].map("{:.2f}%".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.2f}%".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.2f}%".format)
district_summary['% Passing Overall'] = district_summary['% Passing Overall'].map("{:.2f}%".format)

# Display the DataFrame
print(district_summary)

  Total Schools Total Students        Total Budget AVG Math Score  \
0            15         39,170  $82,932,329,558.00         78.99%

  AVG Reading Score % Passing Math % Passing Reading % Passing Overall
0            81.88%         74.98%            85.81%            65.17%

## School Summary

In [41]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [50]:
# Calculate the total student count per school from school_data
per_school_counts = school_data[['school_name','size']]
print(per_school_counts)

              school_name  size
0       Huang High School  2917
1    Figueroa High School  2949
2     Shelton High School  1761
3   Hernandez High School  4635
4     Griffin High School  1468
5      Wilson High School  2283
6     Cabrera High School  1858
7      Bailey High School  4976
8      Holden High School   427
9        Pena High School   962
10     Wright High School  1800
11  Rodriguez High School  3999
12    Johnson High School  4761
13       Ford High School  2739
14     Thomas High School  1635

In [121]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data['budget']

# Calculate per student budget correctly
per_school_capita = school_data['budget'] / school_data['size']

# Now per_school_capita is a Series indexed by 'school_name'
print(per_school_budget)
print(per_school_capita)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [75]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
print(per_school_math)
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [79]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby('school_name')['student_name'].count()
print(students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [80]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby('school_name')['student_name'].count()
print(students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [81]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [89]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_counts * 100
per_school_passing_reading = students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

students_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby('school_name')['student_name'].count()
students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby('school_name')['student_name'].count()
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

print(per_school_passing_math)
print(per_school_passing_reading)
print(overall_passing_rate)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [131]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({
  
    'School Type': school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita, 
    'Average Math Score':per_school_math,
    'Average Reading Score':per_school_reading,
    '% Passing Math':per_school_passing_math,
    '% Passing Reading':per_school_passing_reading,
    '% Overall Passing' :overall_passing_rate
})

# Formatting

per_school_summary['Total Students'] = per_school_summary['Total Students'].map("{:,}".format)
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map("${:,.2f}".format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map("${:,.2f}".format)
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].map("{:.2f}".format)
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].map("{:.2f}".format)
per_school_summary['% Passing Math'] = per_school_summary['% Passing Math'].map("{:.2f}%".format)
per_school_summary['% Passing Reading'] = per_school_summary['% Passing Reading'].map("{:.2f}%".format)
per_school_summary['% Overall Passing'] = per_school_summary['% Overall Passing'].map("{:.2f}%".format)


# Display the DataFrame
print(per_school_summary)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District          4,976       $3,124,928.00
Cabrera High School       Charter          1,858       $1,081,356.00
Figueroa High School     District          2,949       $1,884,411.00
Ford High School         District          2,739       $1,763,916.00
Griffin High School       Charter          1,468         $917,500.00
Hernandez High School    District          4,635       $3,022,020.00
Holden High School        Charter            427         $248,087.00
Huang High School        District          2,917       $1,910,635.00
Johnson High School      District          4,761       $3,094,650.00
Pena High School          Charter            962         $585,858.00
Rodriguez High School    District          3,999       $2,547,363.00
Shelton High School       Charter          1,761       $1,056,600.00
Thomas High School        Charter          1,635       $1,043,130.00
Wilson High School        Charter          2,283       $1,319,574.00
Wright High School        Charter          1,800       $1,049,400.00

                      Per Student Budget Average Math Score  \
school_name
Bailey High School               $628.00              77.05
Cabrera High School              $582.00              83.06
Figueroa High School             $639.00              76.71
Ford High School                 $644.00              77.10
Griffin High School              $625.00              83.35
Hernandez High School            $652.00              77.29
Holden High School               $581.00              83.80
Huang High School                $655.00              76.63
Johnson High School              $650.00              77.07
Pena High School                 $609.00              83.84
Rodriguez High School            $637.00              76.84
Shelton High School              $600.00              83.36
Thomas High School               $638.00              83.42
Wilson High School               $578.00              83.27
Wright High School               $583.00              83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                    81.03         66.68%            81.93%
Cabrera High School                   83.98         94.13%            97.04%
Figueroa High School                  81.16         65.99%            80.74%
Ford High School                      80.75         68.31%            79.30%
Griffin High School                   83.82         93.39%            97.14%
Hernandez High School                 80.93         66.75%            80.86%
Holden High School                    83.81         92.51%            96.25%
Huang High School                     81.18         65.68%            81.32%
Johnson High School                   80.97         66.06%            81.22%
Pena High School                      84.04         94.59%            95.95%
Rodriguez High School                 80.74         66.37%            80.22%
Shelton High School                   83.73         93.87%            95.85%
Thomas High School                    83.85         93.27%            97.31%
Wilson High School                    83.99         93.87%            96.54%
Wright High School                    83.95         93.33%            96.61%

                      % Overall Passing
school_name
Bailey High School               54.64%
Cabrera High School              91.33%
Figueroa High School             53.20%
Ford High School                 54.29%
Griffin High School              90.60%
Hernandez High School            53.53%
Holden High School               89.23%
Huang High School                53.51%
Johnson High School              53.54%
Pena High School                 90.54%
Rodriguez High School            52.99%
Shelton High School              89.89%
Thomas High School               90.95%
Wilson High School               90.58%
Wright High School               90.33%

## Highest-Performing Schools (by % Overall Passing)

In [132]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [136]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [135]:

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grade_math_scores = tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores = twelfth_graders.groupby('school_name')['math_score'].mean()

math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th': tenth_grade_math_scores,
    '11th': eleventh_grade_math_scores,
    '12th': twelfth_grade_math_scores
})

print(math_scores_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [137]:

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grade_reading_scores = ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores = tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby('school_name')['reading_score'].mean()

reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th': tenth_grade_reading_scores,
    '11th': eleventh_grade_reading_scores,
    '12th': twelfth_grade_reading_scores
})

print(reading_scores_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [142]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [143]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [144]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [150]:
# Check data types of the columns
print(school_spending_df.dtypes)

# Convert columns to numeric if they are not (assuming they should all be floats)
cols_to_convert = ["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

for col in cols_to_convert:
    school_spending_df[col] = pd.to_numeric(school_spending_df[col], errors='coerce')

# Now try grouping again
spending_math_scores = school_spending_df.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby("Spending Ranges (Per Student)")["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby("Spending Ranges (Per Student)")["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby("Spending Ranges (Per Student)")["% Overall Passing"].mean()

# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

School Type                       object
Total Students                    object
Total School Budget               object
Per Student Budget                object
Average Math Score               float64
Average Reading Score            float64
% Passing Math                   float64
% Passing Reading                float64
% Overall Passing                float64
Spending Ranges (Per Student)     object
dtype: object

In [151]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [152]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
print(spending_summary)

                              Average Math Score Average Reading Score  \
Spending Ranges (Per Student)
$585-630                                   81.90                 83.16
$630-645                                   78.52                 81.62
$645-680                                   77.00                 81.03
<$585                                      83.45                 83.93

                              % Passing Math % Passing Reading  \
Spending Ranges (Per Student)
$585-630                                nan%              nan%
$630-645                                nan%              nan%
$645-680                                nan%              nan%
<$585                                   nan%              nan%

                              % Overall Passing
Spending Ranges (Per Student)
$585-630                                   nan%
$630-645                                   nan%
$645-680                                   nan%
<$585                                      nan%

## Scores by School Size

In [163]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [164]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [169]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, bins=size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)

In [173]:

columns_to_convert = ['% Passing Math', '% Passing Reading', '% Overall Passing']
for col in columns_to_convert:
    if school_size_df[col].dtype == object:
        school_size_df[col] = school_size_df[col].str.replace('%', '').astype(float)

numeric_scores = ['Average Math Score', 'Average Reading Score']
for col in numeric_scores:
    school_size_df[col] = pd.to_numeric(school_size_df[col], errors='coerce')

size_math_scores = school_size_df.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby("School Size")["% Overall Passing"].mean()

Average Math Scores by School Size: School Size
Large (2000-5000)     77.745
Medium (1000-2000)    83.374
Small (<1000)         83.820
Name: Average Math Score, dtype: float64
Average Reading Scores by School Size: School Size
Large (2000-5000)     81.34375
Medium (1000-2000)    83.86600
Small (<1000)         83.92500
Name: Average Reading Score, dtype: float64
Percentage Passing Math by School Size: School Size
Large (2000-5000)     69.96375
Medium (1000-2000)    93.59800
Small (<1000)         93.55000
Name: % Passing Math, dtype: float64
Percentage Passing Reading by School Size: School Size
Large (2000-5000)     82.76625
Medium (1000-2000)    96.79000
Small (<1000)         96.10000
Name: % Passing Reading, dtype: float64
Percentage Overall Passing by School Size: School Size
Large (2000-5000)     58.285
Medium (1000-2000)    90.620
Small (<1000)         89.885
Name: % Overall Passing, dtype: float64

In [174]:

size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})
size_summary['Average Math Score'] = size_summary['Average Math Score'].map("{:.2f}".format)
size_summary['Average Reading Score'] = size_summary['Average Reading Score'].map("{:.2f}".format)
size_summary['% Passing Math'] = size_summary['% Passing Math'].map("{:.2f}%".format)
size_summary['% Passing Reading'] = size_summary['% Passing Reading'].map("{:.2f}%".format)
size_summary['% Overall Passing'] = size_summary['% Overall Passing'].map("{:.2f}%".format)
print(size_summary)

                   Average Math Score Average Reading Score % Passing Math  \
School Size
Large (2000-5000)               77.75                 81.34         69.96%
Medium (1000-2000)              83.37                 83.87         93.60%
Small (<1000)                   83.82                 83.93         93.55%

                   % Passing Reading % Overall Passing
School Size
Large (2000-5000)             82.77%            58.28%
Medium (1000-2000)            96.79%            90.62%
Small (<1000)                 96.10%            89.89%

## Scores by School Type

In [176]:

columns_to_convert = ['% Passing Math', '% Passing Reading', '% Overall Passing']
for column in columns_to_convert:
    per_school_summary[column] = per_school_summary[column].str.replace('%', '').astype(float)

numeric_scores = ['Average Math Score', 'Average Reading Score']
for column in numeric_scores:
    per_school_summary[column] = pd.to_numeric(per_school_summary[column], errors='coerce')

average_math_score_by_type = per_school_summary.groupby("School Type")["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby("School Type")["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby("School Type")["% Overall Passing"].mean()

In [177]:
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

type_summary['Average Math Score'] = type_summary['Average Math Score'].map("{:.2f}".format)
type_summary['Average Reading Score'] = type_summary['Average Reading Score'].map("{:.2f}".format)
type_summary['% Passing Math'] = type_summary['% Passing Math'].map("{:.2f}%".format)
type_summary['% Passing Reading'] = type_summary['% Passing Reading'].map("{:.2f}%".format)
type_summary['% Overall Passing'] = type_summary['% Overall Passing'].map("{:.2f}%".format)

print(type_summary)

            Average Math Score Average Reading Score % Passing Math  \
School Type
Charter                  83.47                 83.90         93.62%
District                 76.96                 80.97         66.55%

            % Passing Reading % Overall Passing
School Type
Charter                96.59%            90.43%
District               80.80%            53.67%